:root{
    --color1: rgb(210,92,46);
    --color_titre: #275c41;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
}
*::selection{
    background-color:#158a15;
}

a{
    text-decoration: none;
    color: black;
}

#header{
    display: flex;
    justify-content: space-between;
    /* background-color:green; */

}
#logo{
    margin-left: 50px;
}

#contact{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    /* background-color: green; */
}
#contact div{
    display: flex;
    align-items: center;
 
    
}

#header-contact{
    /* background-color: orange; */
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}   
.icone{
    width: 25px;
    height: 25px;
    margin-right: 3px;
}
#icone_mail{
    margin-bottom: -5px;
}
#numero-tel{
    letter-spacing: 2px;
}
.contact{
    font-size: 25px;
}

/* ------ Navigation----------- */
#navigation-link nav ul{
    margin-left: 120px;
    display: flex;
    width: 80%;
    justify-content: space-around;
}

#navigation-link nav ul li{
    background-color: var(--color1);
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px;
    color: white;
    font-size: 1.4rem;
    width: 150px;
    text-align: center;
    cursor: pointer;

    /* Animation d'apparition */
    opacity: 0;
    transform: translateY(10px);
    animation: fadeSlide 0.6s forwards;

    /* Transition hover */
    transition: transform .25s ease, background-color .25s ease, box-shadow .25s ease;
}
#navigation-link nav ul li a {
    color: white;
}

#navigation-link nav ul li:nth-child(1){
    animation-delay: 0.1s;
}
#navigation-link nav ul li:nth-child(2){
    animation-delay: 0.2s;
}
#navigation-link nav ul li:nth-child(3){
    animation-delay: 0.3s;
}

/* Effet hover */
#navigation-link nav ul li:hover{
    transform: scale(1.07);
    background-color: rgb(230,120,60);
    box-shadow: 0px 5px 12px rgba(0,0,0,0.25);
}

/* Keyframes apparition */
@keyframes fadeSlide{
    to{
        opacity: 1;
        transform: translateY(0);
    }
}


/* -------------Landing-page---------------------- */

#landing-page{
    height: 100%;
    width: 100%;
    background: url("../images/image-landing_page.jpg") center/cover no-repeat;
}


h1{
    padding-left: 50px;
    color: white;
    font-size: 3.5rem;
}

#special-word{
    color:rgb(177 62 17);
}

#description{
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: space-around;
    padding-top: 80px;

   
}
#landing-page p{
    color: white;
    font-size: 2rem;
    padding-left: 50px;
}
.icone_valider{
    width: 55px;
}
    
#offert{
    display: flex;
    width: 100%;
    min-height: 200px;
    justify-content: space-around;
    align-items: center;

}
#offert div{
    display: flex;
}
   
#offert p{
    font-size: 3.4rem;
    margin-right: 15px;
    
}

/* #--------- grand icones ----------- */

#grand-icones article{
   
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 50px auto;
}

.icones-grand{
    width: 150px;
    height: 150px;
}
.small-text{
    margin-top: 15px;
    text-align: center;
    font-size: 1.3rem;
  
}


/* -----------------Services--------------------------- */


h2{
    color:var(--color_titre);
    text-align: center;
    font-size: 2.4rem;
}

.image-services{
    width: 350px;
    height: 260px;          /* Hauteur fixe pour aligner les images */
    object-fit: cover;      /* Ajuste l’image sans la déformer */
    border-radius: 10px 10px 0 0;
}

.titre{
    color: #275c41;
    background-color: #0080003d;
    width: 100%;
    text-align: center;
    font-size: 2.3rem;
    padding: 8px 0;
    margin: 0;
}

#type-services {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 50px auto;
    gap: 30px;                   /* Espacement égal entre les cartes */
}

#type-services > div {
    width: 350px;               /* Cartes toutes identiques */
    background: white;
    border-radius: 10px;
    overflow: hidden;           /* Pour que l’image suive l’arrondi */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding-bottom: 30px;
    transition: transform .25s ease, box-shadow .25s ease;
}

/* Animation hover PROPRE */
#type-services > div:hover{
    transform: translateY(-5px);
    box-shadow: 0px 12px 22px rgba(0,0,0,0.25);
}

.description{
    font-size: 1.3rem;
    width: 80%;
    text-align: center;
    margin-top: 25px;
}



/* ---------- Notre entrprise--------------- */


#notre-entreprise{
    width: 60%;
    margin: 20px auto;
    /* background-color: green; */
    
}
#small-title{
    color: #158a15;
    text-align: center;
}
#description-text{
    margin-top: 50px;
}

#description-text p{
    font-size: 2.2rem;
}


/* ---------image-galerie---------- */

.image-galerie{
    width: 250px;
}

#images_galerie {
    width: 80%;
    margin: 50px auto;

    display: grid;
    grid-template-columns: repeat(5, 1fr);   /* 3 colonnes */
    grid-auto-rows: 200px;                   /* hauteur de base */
    gap: 20px;                               /* espace entre les images */
}

.image-galerie {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* Grandes images (comme la maquette que tu as envoyée) */
#images_galerie img:nth-child(1) {
    grid-row: span 2; 
    grid-column: span 3; /* image plus haute */
}

#images_galerie img:nth-child(2) {
    grid-row: span 3;
    grid-column: span 2;

}
#images_galerie img:nth-child(3) {
    grid-column: span 2;
    grid-row: span 2;

}

#images_galerie img:nth-child(4) {
    grid-row: span 2;
    grid-column: span 3;
}
#images_galerie img:nth-child(5) {
    grid-row: span 3;
    grid-column: span 2;
}

#images_galerie img:nth-child(6) {
    grid-column: span 2;
    grid-row: span 2;
}

#images_galerie img:nth-child(7) {
    grid-row: span 2;
}

/* --------Zonr d'intervention-------------------- */

.titre_zone{
    margin: 100px 0 20px;
    text-align: center;
    font-size: 4.4rem;
    color: var(--color_titre);
    font-weight: 600;
    letter-spacing: 4px;
}

.description_intervention{
    font-size: 2.2rem;
}

.ville{
    color:rgb(177 62 17) ;
}
#zone_icone{
    display: flex;
    justify-content: center;
    align-items: center;
}
#block_zone{
    width: 80%;
    margin: 50px auto;
    display: flex;
    justify-content: space-evenly;
} 
#location{
    width: 250px;
}

#paragraph{
   width: 45%;
    font-size: 4.2rem;
    letter-spacing: 3px;
}
/* -----------Footer-------------- */



footer{
    background-color: #275c41;
    color: white;
    display: flex;
    justify-content: space-between;
}

#informations{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    min-height: 100px;
    padding: 50px 50px;
    /* background-color: orange; */

}

#informations:first-child{
    font-size: 1.3rem;
    
}
#informations p{
    margin: 10px 0;
}



#icone_et_texte{

    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width:35%;
}
#block_images{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding: 50px 0;
}
.icone_footer{
    width: 60px;
}
#info_footer{
    display: flex;
    justify-content: space-evenly;
    font-size:1.2rem ;
}




/* Juste pour voir le burger */
/* ==== BOUTON BURGER (desktop + mobile) ==== */

/* caché par défaut sur grand écran (si tu veux) */
.menu-burger {
  width: 32px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  z-index: 1001;
  display: none;
}

/* les 3 barres */
.menu-burger span {
  width: 100%;
  height: 4px;
  background-color: var(--color1);
  border-radius: 999px;           /* bords bien arrondis */
  margin: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform-origin: center;
}

/* état X */
.menu-burger.open span:nth-child(1) {
  transform: translateY(24px) rotate(51deg);
}

.menu-burger.open span:nth-child(2) {
  opacity: 0;
}

.menu-burger.open span:nth-child(3) {
  transform: translateY(-13px) rotate(310deg);
}

/* ==== MENU SLIDE ==== */
.menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 90%;
  background-color: #0c0a0af7;
  color: white;
  transform: translateX(100%);
  transition: transform 0.3s ease;
}

.menu_visible {
  transform: translateX(0);
}

/* ==== VERSION MOBILE / TABLETTE ==== */
/* @media (max-width:1024px){
    #header-contact{
      display: none;
    }
    #logo{
        width: 100px;
    }
    h1{
        width: 100%;
    }


    .menu-burger {
    position: absolute;
    top: 20px;
    right: 50px;
  }


  
    .menu-burger span{
        background-color: var(--color1);
        height: 6px;
        border: 2px solid black;
        border-radius: 10px;
    }

 
    .menu_mobile{
        margin-top: 100px;
        flex-direction: column;
        align-items: center;
    }

    .menu_mobile.active{
        display: flex;
    }

    .link a{
        color: white;
    }
    .link{
        background-color: var(--color1);
        font-size: 2.2rem;
        width: 175px;
        text-align: center;
        color: white;
        margin: 35px 0;
        padding: 10px 35px;
        border-radius: 15px;
    }

    .contact{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }
    .contact p{
        margin: 10px 0;
    }

    .social_media{
        margin: 40px  auto;
        display: flex;
        justify-content: space-around;
        width: 80% ;
    }

    #offert{
        display: flex;
        flex-direction: column;
    }
    #description{
        padding: 40px 100px;
    }
    .titre_zone{
        font-size: 3.2rem;
    }

    #type-services{
        display: grid;
        grid-template-columns: 50% 50%;
        width: 80%;
        gap: 15px;
    }

    #notre-entreprise{
        width: 80%;
    }

    #images_galerie{
       display: flex;
       flex-direction: column;
    }
    
    #zone_icone{
        display: none;
    }
    #paragraph{
        width: 100%;
    } 
}

*/


